<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="/css/Style.css" rel="stylesheet">
</head>
<body>
<div>
    <img src= "Images/logo-mercado-liebre.svg" width="200" alt="logo Mercado Liebre">
    <label></label>
    <input type="text" name="Buscador" id="buscador" value="Buscar productos, marcas y más">
    <label align: right>Comprá en cuotas y sin tarjeta de crédito</label>
    
</div>
<div>
    <a href= 'https:www.mercadolibre.com.ar'> Ofertas</a>
    <a href= 'https:www.mercadolibre.com.ar'> Tiendas Oficiales</a>

</div>

<div>
    <ul><li>
        Notebooks
    </li></ul>
</div>
</body>
</html>